.flexContainer {
  display: flex;
  justify-content: space-between;
  /* Distribute space between title/logo and toggle button */
  align-items: center;
  /* Vertically center the elements */
  width: 100%;
  /* Full width */
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the logo and title horizontally */
  gap: rem(20px);
  /* Space between logo and title */
  flex-shrink: 0;
  /* Prevent shrinking */
  min-width: 300px;
  /* Optional: Add a minimum width */
  margin: 0 auto;
  /* Center the titleContainer */
}

.itemRight {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 20px;
}

.itemLeft {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.hyperlink {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
}

.logo {
  stroke: light-dark(var(--logo-stroke-light, #052049), var(--logo-stroke-dark, #96ABDC));
}

.tag {
  color: light-dark(var(--logo-stroke-light, #052049), var(--logo-stroke-dark, #96ABDC));
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);
}


.spaceFont {
  font-family: var(--font-space-grotesk);
  font-weight: 400;
  font-style: normal;
}

.regularFont {
  font-family: var(--font-logika);
  font-weight: 400;
  font-style: normal;
}

.boldFont {
  font-family: var(--font-logika);
  font-weight: 800;
  font-style: normal;
}

.italicFont {
  font-family: var(--font-logika);
  font-weight: 700;
  font-style: italic;
}

.lightFont {
  font-family: var(--font-logika);
  font-weight: 400;
  font-style: normal;
}

.heading1 {
  font-size: rem(30px);
}

.heading2 {
  font-size: rem(20px);
}

.groupContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  padding: 20px; 
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 24px; 
  transition: transform 0.3s; 
}

.cardIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 180px;
}

.cardIcon {
  max-width: 100%; 
  height: auto; 
}

.arrowContainer {
  display: flex;
  justify-content: flex-start; 
  width: 48px;
  height: 48px;
}

.cardText {
  font-size: 1.5rem; 
  font-family: var(--font-logika);
  font-weight: 800;
  color: inherit;
  text-decoration: none; 
}

.cardTextWhite {
  color: white; 
}

.cardLink {
  text-decoration: none; 
}